{% extends "mainapp/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<!-- MainContent -->
<section class="sign-in-page">
    <div class="container">
       <div class="row justify-content-center align-items-center height-self-center">
          <div class="col-lg-7 col-md-12 align-self-center">
             <div class="sign-user_card ">                    
                <div class="sign-in-page-data">
                    <div class="sign-in-from w-100 m-auto">

                        <h3>{% trans "Password Reset" %}</h3>
    
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        
                        <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
  
   
                    </div>
                </div> 

              </div>
         </div>
    </div>
  </div>
</section>
<!-- MainContent End-->
{% endblock %}

